<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - URL GENERATOR</title>
</head>

<body>
    <h1>URL GENERATOR</h1>
    <div>
        <form action="/url/" method="POST">
            <label>Enter Original URL : </label>
            <input type="text" required name="url" placeholder="https://example.com">
            <button type="submit">Generate</button>
        </form>
        <% if (locals.id) { %>
            <p>
                <a href="http://localhost:8000/url/<%= id %>" target="_blank">http://localhost:8000/url/<%= id %></a>
            </p>
            <% } %>
    </div>

    <div>
        <% if (locals.allURL) { %>
            <table>
                <thead>
                    <th>Sr.NO</th>
                    <th>ShortID</th>
                    <th>RedirectURL</th>
                    <th>TotalClicks</th>
                </thead>
                <tbody>
                    <% allURL.forEach((url,index)=> { %>
                        <tr>
                            <td>
                                <%= index+1 %>
                            </td>
                            <td>
                                <%= url.shortId %>
                            </td>
                            <td>
                                <%= url.redirectURL %>
                            </td>
                            <td>
                                <%= url.visitHistory.length %>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
            <% } %>
    </div>
</body>

</html>